/* body, header, and footer styling of all pages */

body {
    background-image: url("../images/footer_lodyas.png");
    margin: 0;
    padding: 0;
}

.content-container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    background-color: #ffffff;
    border-bottom: solid;
    border-color: #cccccc;
    margin: 0;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

#header-container {
    width: 965px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#name {
    color: #ffffff;
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    text-align: center;
    height: 70px;
    width: 200px;
    border-left: solid;
    border-color: #4aaaa5;
}

footer {
    border-top: 8px solid #4aaaa5;
    height: 30px;
    margin-top: -30px;
    width: 100vw;
    background-color: #666666;
    position: relative;
}

#copyright {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 8px;
    margin: 0;
    position: absolute;
    right: 50%;
    bottom: 0;
}

/* nav bar styling */

.navlinks {
    padding-left: 10px;
    color: #777777;
}

nav {
    margin-top: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    color: #777777;
    font-size: 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* index.html styling */

.about-me {
    width: 960px;
    height: 440px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 8%;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    overflow: auto;
}

#about-me-header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    margin-left: 30px;
}

#headshot {
    height: 220px;
    width: 200px;
    float: left;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
}

hr {
    width: 900px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #dddddd;
    margin-top: 20px;
}

#hey-there {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-top: 24px;
    margin-right: 10%;
    padding-bottom: 6px;
}

.paragraph-2 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777; 
    margin-left: 30px; 
    margin-right: 6%;
    line-height: 1.8;
    padding-bottom: 10px;
}

/* contact.html styling */

.contact {
    width: 960px;
    height: 475px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 8%;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    overflow: auto;
}

#contact-header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    margin-left: 30px;
}

#form {
    float: left;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

input[type=text] {
    width: 900px;
    height: 20px;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 15px;
}

input[type=text]:focus {
    background-color: lightblue;
  }

input[type=email] {
    width: 900px;
    height: 20px;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 15px;
}

input[type=email]:focus {
    background-color: lightblue;
}

textarea {
    width: 892px;
    padding: 10px 8px;
    resize: none;
    margin-top: 2px;
    border: solid 1px;
}

input[type=submit] {
    cursor: pointer;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    height: 30px;
    width: 100px;
    margin-top: 10px;
}

/* portfolio.html styling */

.portfolio {
    width: 960px;
    height: 850px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: 8%;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    overflow: auto;
}

#portfolio-header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    margin-left: 30px;
}

.image-column {
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.image-container {
    width: 250px;
    height: 200px;
    position: relative;
    padding-bottom: 50px;
}

.image-text {
    position: absolute;
    top: 55%;
    width: 250px;
    height: 38px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    padding-top: 15px;
}

/* Media Queries */

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {

}