/* Body */

body {
    background-image: url("../images/footer_lodyas.png");
    margin: 0;
    padding: 0;
}

.content-container {
    min-height: 100vh;
}

/* Header */

header {
    background-color: #ffffff;
    border-bottom: solid;
    border-color: #cccccc;
    margin: 0;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

#header-container {
    width: 965px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#name {
    color: #ffffff;
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    text-align: center;
    height: 70px;
    width: 200px;
    border-left: solid;
    border-color: #4aaaa5;
}

/* Footer */

footer {
    border-top: 8px solid #4aaaa5;
    height: 30px;
    margin-top: -30px;
    width: 100vw;
    background-color: #666666;
    position: relative;
}

#copyright {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 8px;
    margin: 0;
    position: absolute;
    right: 50%;
    bottom: 0;
}

/* Navbar Styling */

.navlinks {
    padding-left: 10px;
    color: #777777;
}

nav {
    margin-top: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    color: #777777;
    font-size: 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* index.html styling */

.about-me {
    width: 960px;
    height: 440px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    overflow: auto;
}

#about-me-header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    margin-left: 30px;
}

hr {
    width: 900px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #dddddd;
    margin-top: 20px;
}

.index-flex-container {
    display: flex;
    flex-direction: row;
}

#headshot {
    height: 220px;
    width: 200px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
}

.text-container {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777; 
    margin-left: 20px; 
    margin-right: 6%;
    line-height: 1.8;
}

/* contact.html styling */

.contact {
    width: 960px;
    height: 475px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 100px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    overflow: auto;
}

#contact-header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    margin-left: 30px;
}

#form {
    float: left;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

input[type=text] {
    width: 900px;
    height: 20px;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 15px;
}

input[type=text]:focus {
    background-color: lightblue;
  }

input[type=email] {
    width: 900px;
    height: 20px;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 15px;
}

input[type=email]:focus {
    background-color: lightblue;
}

textarea {
    width: 892px;
    padding: 10px 8px;
    resize: none;
    margin-top: 2px;
    border: solid 1px;
}

input[type=submit] {
    cursor: pointer;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    height: 30px;
    width: 100px;
    margin-top: 10px;
}

/* portfolio.html styling */

.portfolio {
    width: 960px;
    height: 850px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 8%;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    overflow: auto;
}

#portfolio-header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    margin-left: 30px;
}

.image-column {
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.image-container {
    width: 250px;
    height: 200px;
    position: relative;
    padding-bottom: 50px;
}

.image-text {
    position: absolute;
    top: 55%;
    width: 250px;
    height: 38px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    padding-top: 15px;
}

/* Media Queries */

@media only screen and (max-width: 980px) {

    body {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
    }

    #header-container {
        margin-left: 20px;
        margin-right: 20px;
        width: 940px;
    }

    hr {
        width: 92%;
    }

    .about-me {
        width: 800px;
    }

    .contact {
        margin-top: 100px;
        width: 800px;
    }

    input[type=text] {
        width: 720px;
    }

    input[type=email] {
        width: 720px;
    }

    textarea {
        width: 700px;
    }

    .portfolio {
        width: 800px;
    }

    .flex-container {
        justify-content: space-between;
        margin-right: 21px;
    }

}

@media only screen and (max-width: 768px) {

    .about-me {
        width: 720px;
    }

    #header-container {
        width: 720px;
    }

    hr {
        width: 91%;
    }

    .contact {
        margin-top: 100px;
        width: 720px;
    }

    input[type=text] {
        width: 645px;
    }

    input[type=email] {
        width: 645px;
    }

    textarea {
        width: 635px;
    }

    .portfolio {
        width: 720px;
    }

    .flex-container {
        justify-content: space-between;
        margin-right: 21px;
    }

}

@media only screen and (max-width: 640px) {
    
    #header-container {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        text-align: center;
        width: 100vw;
    }

    #name {
        width: 100%;
    }

    hr {
        width: 90%;
    }

    .about-me {
        margin-top: 150px;
        width: 590px;
    }

    nav {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .index-flex-container {
        flex-direction: column;
    }

    .text-container {
        margin-left: 27px;
    }

    #headshot {
        margin-left: 27px;
        margin-bottom: 10px;
    }

    .contact {
        margin-top: 150px;
        width: 590px;
        height: 450px;
    }

    input[type=text] {
        width: 520px;
    }

    input[type=email] {
        width: 520px;
    }

    textarea {
        width: 510px;
    }

    .portfolio {
        margin-top: 150px;
        width: 590px;
    }

    .flex-container {
        flex-direction: column;
    }

    .image-column {
        margin: auto;
        margin-top: 40px;
    }
        

}